<nav class="navbar is-light">

  <div class="container">
    <a class="navbar-item">
      <h1 class="title" [routerLink]="['/']">CineTag</h1>
    </a>
    <div class="navbar-item ">

    </div>
    <div class="navbar-brand">


    </div>
    <div id="navbarMenuHeroC" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" [routerLink]="['/']">
          TagLine Display
        </a>
        <a class="navbar-item" [routerLink]="['/tagline/list']">
          Tagline Admin
        </a>
      </div>
    </div>
  </div>
</nav>
